*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}
#main{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}
#circle{
    position: absolute;
    display: flex;
    top: 50%;
    left: -100vh;
    transform: translate(0%,-50%) rotate(100deg); 
    width: 200vh;
    height: 200vh;
    /* background-color: red; */
    border-radius: 50%;
    border: 2px solid #d7d5d5;
}
.stripe{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0,-50%);
    width: 100%;
    height: 60px;
    /* background-color: yellow; */
    transform-origin: 0% 50%;
}
.str1{
    transform: translate(0, -50%) rotate(-20deg);
}
.str2{
    transform: translate(0, -50%) rotate(-10deg);
}
.str4{
    transform: translate(0, -50%) rotate(10deg);
}
.str5{
    transform: translate(0, -50%) rotate(20deg);
}
.first{
    position: relative;
    width: 50%;
    height: 100%;
    /* background-color: green; */
}
.sec{
    opacity: .4;
    width: 50%;
    height: 100%;
    padding-left: 30px;
    /* background-color: rebeccapurple; */
}
.sec h4{
    font-size: 2vw;
}
.sec h6{
    font-size: 1vw;
    opacity: .5;
    font-weight: 500;
}
.smcircle{
    position: absolute;
    right: -.3vw;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 50%;
    width: .5vw;
    height: .5vw;
    background-color: #c4bebe;
}
#panel{
    position: absolute;
    width: 5%;
    height: 30%;
    right: 3%;
    /* background-color: rebeccapurple; */
    top: 50%;
    transform: translate(0, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.mncircle{
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
    opacity: .1;
    background-color: rgb(0, 0, 0);
}